<template>
    <div>
        <div v-if="isAddMouse === false">
            <button class="btn btn-primary" type="button" @click="addNewMouse">Add New Mouse</button>
            <input type="text" v-model="filterByName" @change="fetch()" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mouse Name</th>
                        <th>Mouse Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(mouse,index) in mouses" :key="index">
                        <td>{{mouse.mouseName}}</td>
                        <td>{{mouse.mouseQuantity}}</td>
                        <td>
                            <a :href="'/mouse/update?mouseId='+mouse.mouseId" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" @click="deleteMouse(mouse.mouseId)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination" v-for="pageNumber in totalPage">
                        <li class="page-item">
                            <button @click="changePage(pageNumber)">{{pageNumber}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div v-if="isAddMouse === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertMouse">
                    <label class="col-form-label">Mouse Name</label>
                    <validation-provider name="Mouse Name" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newMouse.mouseName" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <label class="col-form-label">Mouse Quantity</label>
                    <validation-provider name="Mouse Quantity" rules="required" v-slot="{errors}">
                        <input class="form-control" type="number" v-model="newMouse.mouseQuantity" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { MouseService, MouseModel } from '../services/MouseService';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: ListMouse) {
            await this.fetch();
        }
    })

    export default class ListMouse extends Vue {
        service: MouseService = new MouseService();

        mouses: MouseModel[] = [];

        isAddMouse = false;

        newMouse: MouseModel = {
            mouseName: '',
            mouseQuantity: 0
        }

        filterByName = '';
        pageIndex = 1;
        itemPerPage = 3;
        totalData = 1;
        totalPage = 1;

        async fetch(): Promise<void> {
            this.totalData = await this.service.getTotalData();
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);

            this.mouses = await this.service.getFilterData(this.pageIndex, this.itemPerPage, this.filterByName);
        }

        async changePage(pageNumber: number): Promise<void> {
            this.pageIndex = pageNumber;
            await this.fetch();
        }

        addNewMouse(): void {
            this.isAddMouse = true;
            return;
        }

        async getMouses(): Promise<void> {
            this.mouses = await this.service.getAllMouse();
        }

        async insertMouse(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();

            if (valid == false) {
                return;
            }

            await this.service.insertMouse(this.newMouse);
            await this.getMouses();

            swal.fire({
                title: 'Great!',
                icon: 'success',
                text: 'Successfully insert new mouse data.'
            });

            this.isAddMouse = false;
        }

        async deleteMouse(mouseId): Promise<void> {
            await this.service.deleteMouse(mouseId);
            await this.getMouses();

            swal.fire({
                title: 'Nice',
                icon: 'success',
                text: 'Successfully delete mouse data.'
            })
        }
    }
</script>
