<template>
    <div>
        <validation-observer ref="observer" v-slot="{validate,valid}">
            <form method="post" @submit.prevent="updateMouse">
                <label class="col-form-label">Mouse Name</label>
                <validation-provider name="Mouse Name" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newMouse.mouseName" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Mouse Quantity</label>
                <validation-provider name="Mouse Quantity" rules="required" v-slot="{errors}">
                    <input class="form-control" type="number" v-model="newMouse.mouseQuantity" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <button class="btn btn-primary" type="submit">
                    <fa-icon icon="check"></fa-icon>
                    Submit
                </button>
            </form>
        </validation-observer>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { MouseService, MouseModel } from '../services/MouseService';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: UpdateMouse) {
            await this.getSpecificMouse();
        }
    })
    export default class UpdateMouse extends Vue {
        service: MouseService = new MouseService();

        newMouse: MouseModel = {
            mouseName: '',
            mouseQuantity: 0
        }

        async updateMouse(): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                icon: 'warning',
                text: 'Update this mouse data?',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {
                    await this.service.updateMouse(this.newMouse);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated!',
                        'success'
                    )
                }
            })
        }

        async getSpecificMouse(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const mouseId = urlParams.get('mouseId')?.valueOf();

            this.newMouse = await this.service.getSpecificMouse(Number(mouseId));
        }
    }
</script>
